.page-header {
  height: 45vh;
  position: relative;
  overflow: hidden;
  padding-top: 20px; /* same as navbar height */
}

.bg {
  width: 100%;
  height: 30vh; /* top area height */
  /*object-fit: cover;*/
}

.overlay {
  position: absolute;
  bottom: 50px;
  left: 8%;
  color: white;
}

.overlay h1 {
  font-size: 3rem;
  margin: 0;
}

.overlay p {
  font-size: 1.1rem;
  margin-top: 10px;
  opacity: 0.9;
}
