
/* INNER CARD */
.form-card {
  background: #DCEEFF;
  padding: 10px 35px;
  border-radius: 4px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
  border: 1px solid #eee;
}

.form-card h3 {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  color: #1c3557;
  margin-bottom: 20px;
  text-align: center;
}
@media (max-width: 600px) {
  .form-card {
    padding: 25px;
    max-width: 100%;
  }
}
/* RIGHT ENQUIRY FORM */
.enquiry-form {
   background: transparent;
   padding: 10px;
   box-shadow: none;
   display: flex;
   flex-direction: column;flex-direction: column;
}


/* Divider line */
.enquiry-form::before {
  content: "";
  display: block;
  height: 1px;
  background: #999;
  margin-bottom: 15px;
}

/* Labels */
.enquiry-form label {
  font-weight: bold;
  color: #1c3557;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
}

/* Inputs */
.enquiry-form input,
.enquiry-form textarea {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 3px;
  font-size: 14px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

/* Textarea height */
.enquiry-form textarea {
  height: 100px;
  resize: none;
}

/* Button */
.enquiry-form button {
  margin-top: 20px;
  padding: 12px;
  background: #1c3557;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.enquiry-form button:hover {
  background: #12253d;
}

/* Success Message */
.success-message {
  margin-top: 15px;
  color: green;
  font-weight: bold;
  text-align: center;
}
