:host {
  display: block;
  position: relative;
  z-index: 1;
  padding-top: 5px;/* height of your navbar */

}

/* Consistent spacing for all sections */
section {
  padding: 80px 10%;
}

/* Headings across the site */
section h2 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
  color: #c59d5f;
}

/* Paragraph styling */
section p {
  font-size: 18px;
  line-height: 1.6;
  color: #dcdcdc;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  section {
    padding: 60px 6%;
  }

  section h2 {
    font-size: 28px;
  }

  section p {
    font-size: 16px;
  }
}
